<main class="main">
    <div class="text-container" *ngIf="title">
      <span class="text">{{ timeTo }} {{ title }}</span>
    </div>
    
    <div class="countdown-container" *ngIf="selectedDate">
      {{ countdown }}
    </div>
  <div class="fields-container">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Choose a title" [(ngModel)]="title" (blur)="onInputBlur()" />
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepickerFilter]="futureDateFilter"
        [matDatepicker]="datepicker"
        placeholder="Choose a date"
        (click)="openDatepicker()"
        [(ngModel)]="selectedDate"
      />
      <mat-datepicker #datepicker (closed)="onDatepickerClosed()"></mat-datepicker>
    </mat-form-field>
  </div>
</main>

<router-outlet />
