main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  background-color: #F5F3F3;

  .fields-container {
    display: flex;
    gap: 3rem;
  }

  .text-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    .text{
      color: purple;
    }
  }
}
